<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Grenada</country-name>
    <iso-code>GD</iso-code>
    <continent>North America</continent>
    <capital>St. George's</capital>
    <population>126000</population>
    <area-sq-km>344</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11066</socket-port>
    <local-input-path>source-code/countries/grenada/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/grenada</output-dir>
</signal-processing-config>
