<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Vanuatu</country-name>
    <iso-code>VU</iso-code>
    <continent>Oceania</continent>
    <capital>Port Vila</capital>
    <population>335000</population>
    <area-sq-km>12189</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11188</socket-port>
    <local-input-path>source-code/countries/vanuatu/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/vanuatu</output-dir>
</signal-processing-config>
