<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Netherlands</country-name>
    <iso-code>NL</iso-code>
    <continent>Europe</continent>
    <capital>Amsterdam</capital>
    <population>17900000</population>
    <area-sq-km>41543</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11121</socket-port>
    <local-input-path>source-code/countries/netherlands/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/netherlands</output-dir>
</signal-processing-config>
