Office Name,Type,City
Charlotte Processing & Distribution Center,USPS,Charlotte
Greensboro Processing & Distribution Center,USPS,Greensboro
Raleigh Processing & Distribution Center,USPS,Raleigh

Post Office Branch,County,ZIP Code
Charlotte Main Post Office,Mecklenburg,28228
Raleigh Main Post Office,Wake,27601
Greensboro Main Post Office,Guilford,27401
Durham Main Post Office,Durham,27701
Winston-Salem Main Post Office,Forsyth,27101
Fayetteville Main Post Office,Cumberland,28301
Asheville Main Post Office,Buncombe,28801
Wilmington Main Post Office,New Hanover,28401
High Point Main Post Office,Guilford,27260
Cary Main Post Office,Wake,27511
Concord Main Post Office,Cabarrus,28025
Gastonia Main Post Office,Gaston,28052
Jacksonville Main Post Office,Onslow,28540
Chapel Hill Main Post Office,Orange,27514
Rocky Mount Main Post Office,Nash,27804
Burlington Main Post Office,Alamance,27215
Huntersville Post Office,Mecklenburg,28078
Apex Post Office,Wake,27502
Hickory Main Post Office,Catawba,28601
Greenville Main Post Office,Pitt,27834
Mooresville Post Office,Iredell,28115
Wake Forest Post Office,Wake,27587
Monroe Main Post Office,Union,28110
Salisbury Main Post Office,Rowan,28144
Matthews Post Office,Mecklenburg,28105
Goldsboro Main Post Office,Wayne,27530
New Bern Main Post Office,Craven,28560
Statesville Main Post Office,Iredell,28677
Kinston Main Post Office,Lenoir,28501
Thomasville Post Office,Davidson,27360
Hendersonville Post Office,Henderson,28739
Boone Post Office,Watauga,28607
Morganton Main Post Office,Burke,28655
Elizabeth City Main Post Office,Pasquotank,27909
Roanoke Rapids Post Office,Halifax,27870
Tarboro Post Office,Edgecombe,27886
Mount Airy Post Office,Surry,27030
Lumberton Main Post Office,Robeson,28358
Shelby Main Post Office,Cleveland,28150
Havelock Post Office,Craven,28532
Lexington Main Post Office,Davidson,27292
Lenoir Main Post Office,Caldwell,28645
Clinton Post Office,Sampson,28328
Sanford Main Post Office,Lee,27330
Asheboro Main Post Office,Randolph,27203
Albemarle Main Post Office,Stanly,28001
Waynesville Post Office,Haywood,28786
Reidsville Post Office,Rockingham,27320
Eden Post Office,Rockingham,27288
Laurinburg Post Office,Scotland,28352
Henderson Main Post Office,Vance,27536
Washington Post Office,Beaufort,27889