Institution Name,Type,City
Appalachian State University,Public,Boone
East Carolina University,Public,Greenville
Elizabeth City State University,Public,Elizabeth City
Fayetteville State University,Public,Fayetteville
North Carolina A&T State University,Public,Greensboro
North Carolina Central University,Public,Durham
North Carolina State University,Public,Raleigh
University of North Carolina at Asheville,Public,Asheville
University of North Carolina at Chapel Hill,Public,Chapel Hill
University of North Carolina at Charlotte,Public,Charlotte
University of North Carolina at Greensboro,Public,Greensboro
University of North Carolina at Pembroke,Public,Pembroke
University of North Carolina School of the Arts,Public,Winston-Salem
University of North Carolina at Wilmington,Public,Wilmington
Western Carolina University,Public,Cullowhee
Winston-Salem State University,Public,Winston-Salem
Barton College,Private,Wilson
Belmont Abbey College,Private,Belmont
Bennett College,Private,Greensboro
Brevard College,Private,Brevard
Cabarrus College of Health Sciences,Private,Concord
Campbell University,Private,Buies Creek
Carolina University,Private,Winston-Salem
Catawba College,Private,Salisbury
Chowan University,Private,Murfreesboro
Davidson College,Private,Davidson
Duke University,Private,Durham
Elon University,Private,Elon
Gardner-Webb University,Private,Boiling Springs
Greensboro College,Private,Greensboro
Guilford College,Private,Greensboro
High Point University,Private,High Point
Johnson C. Smith University,Private,Charlotte
Lees-McRae College,Private,Banner Elk
Lenoir-Rhyne University,Private,Hickory
Livingstone College,Private,Salisbury
Mars Hill University,Private,Mars Hill
Meredith College,Private,Raleigh
Methodist University,Private,Fayetteville
Montreat College,Private,Montreat
North Carolina Wesleyan University,Private,Rocky Mount
Pfeiffer University,Private,Misenheimer
Queens University of Charlotte,Private,Charlotte
Saint Augustine's University,Private,Raleigh
Salem College,Private,Winston-Salem
Shaw University,Private,Raleigh
St. Andrews University,Private,Laurinburg
University of Mount Olive,Private,Mount Olive
Wake Forest University,Private,Winston-Salem
Warren Wilson College,Private,Swananoa
William Peace University,Private,Raleigh
Wingate University,Private,Wingate