<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Liechtenstein</country-name>
    <iso-code>LI</iso-code>
    <continent>Europe</continent>
    <capital>Vaduz</capital>
    <population>40000</population>
    <area-sq-km>160</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11097</socket-port>
    <local-input-path>source-code/countries/liechtenstein/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/liechtenstein</output-dir>
</signal-processing-config>
