<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>San Marino</country-name>
    <iso-code>SM</iso-code>
    <continent>Europe</continent>
    <capital>San Marino</capital>
    <population>34000</population>
    <area-sq-km>61</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11148</socket-port>
    <local-input-path>source-code/countries/san-marino/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/san-marino</output-dir>
</signal-processing-config>
