<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Monaco</country-name>
    <iso-code>MC</iso-code>
    <continent>Europe</continent>
    <capital>Monaco</capital>
    <population>39000</population>
    <area-sq-km>2</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11112</socket-port>
    <local-input-path>source-code/countries/monaco/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/monaco</output-dir>
</signal-processing-config>
