<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <university-name>Carolina University</university-name>
    <year-founded>1945</year-founded>
    <chancellor>Kerry Bowman</chancellor>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9000</socket-port>
    <local-input-path>source-code/universities/carolinau/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/universities/carolinau</output-dir>
</signal-processing-config>
