<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Costa Rica</country-name>
    <iso-code>CR</iso-code>
    <continent>North America</continent>
    <capital>San Jose</capital>
    <population>5200000</population>
    <area-sq-km>51100</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11040</socket-port>
    <local-input-path>source-code/countries/costa-rica/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/costa-rica</output-dir>
</signal-processing-config>
