<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Pakistan</country-name>
    <iso-code>PK</iso-code>
    <continent>Asia</continent>
    <capital>Islamabad</capital>
    <population>245000000</population>
    <area-sq-km>796095</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11130</socket-port>
    <local-input-path>source-code/countries/pakistan/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/pakistan</output-dir>
</signal-processing-config>
