<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Seychelles</country-name>
    <iso-code>SC</iso-code>
    <continent>Africa</continent>
    <capital>Victoria</capital>
    <population>100000</population>
    <area-sq-km>455</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11153</socket-port>
    <local-input-path>source-code/countries/seychelles/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/seychelles</output-dir>
</signal-processing-config>
