<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Congo (Democratic Republic)</country-name>
    <iso-code>CD</iso-code>
    <continent>Africa</continent>
    <capital>Kinshasa</capital>
    <population>105000000</population>
    <area-sq-km>2344858</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11039</socket-port>
    <local-input-path>source-code/countries/congo-democratic-republic/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/congo-democratic-republic</output-dir>
</signal-processing-config>
