<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Uzbekistan</country-name>
    <iso-code>UZ</iso-code>
    <continent>Asia</continent>
    <capital>Tashkent</capital>
    <population>36500000</population>
    <area-sq-km>447400</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11187</socket-port>
    <local-input-path>source-code/countries/uzbekistan/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/uzbekistan</output-dir>
</signal-processing-config>
