<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Slovenia</country-name>
    <iso-code>SI</iso-code>
    <continent>Europe</continent>
    <capital>Ljubljana</capital>
    <population>2100000</population>
    <area-sq-km>20273</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11157</socket-port>
    <local-input-path>source-code/countries/slovenia/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/slovenia</output-dir>
</signal-processing-config>
