<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Indonesia</country-name>
    <iso-code>ID</iso-code>
    <continent>Asia</continent>
    <capital>Jakarta</capital>
    <population>279000000</population>
    <area-sq-km>1904569</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11076</socket-port>
    <local-input-path>source-code/countries/indonesia/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/indonesia</output-dir>
</signal-processing-config>
