<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <county-name>Caswell County</county-name>
    <county-seat>Yanceyville</county-seat>
    <year-established>1777</year-established>
    <population>21861</population>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9100</socket-port>
    <local-input-path>source-code/counties/nc/caswell/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/counties/nc/caswell</output-dir>
</signal-processing-config>