<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Mozambique</country-name>
    <iso-code>MZ</iso-code>
    <continent>Africa</continent>
    <capital>Maputo</capital>
    <population>34800000</population>
    <area-sq-km>799380</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11116</socket-port>
    <local-input-path>source-code/countries/mozambique/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/mozambique</output-dir>
</signal-processing-config>
