<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Estonia</country-name>
    <iso-code>EE</iso-code>
    <continent>Europe</continent>
    <capital>Tallinn</capital>
    <population>1400000</population>
    <area-sq-km>45228</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11054</socket-port>
    <local-input-path>source-code/countries/estonia/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/estonia</output-dir>
</signal-processing-config>
