<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>Moldova</country-name>
    <iso-code>MD</iso-code>
    <continent>Europe</continent>
    <capital>Chisinau</capital>
    <population>2500000</population>
    <area-sq-km>33851</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11111</socket-port>
    <local-input-path>source-code/countries/moldova/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/moldova</output-dir>
</signal-processing-config>
