<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <country-name>France</country-name>
    <iso-code>FR</iso-code>
    <continent>Europe</continent>
    <capital>Paris</capital>
    <population>66500000</population>
    <area-sq-km>551695</area-sq-km>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11059</socket-port>
    <local-input-path>source-code/countries/france/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/countries/france</output-dir>
</signal-processing-config>
